@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: calc(100vh - 0px);
    background-image: linear-gradient(-45deg,#03fc9d,#740c87);
    /* background-image: linear-gradient(45deg,#03d3fc,#870c21) */
    /* animation: start 3s infinite linear */
}

@keyframes start {
    0% {
        transform: rotate(0deg)
    }
    /* 50% {
        transform: rotate(180deg)
    } */
    100% {
        transform: rotate(360deg)
    }
}

.logo{
    position:relative;
    /* left: 5px; */
    top: 0px;
    scale: 0.05
}

.googleSignInOut{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    border: none;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding: 30px;
}

.googleSignInOut:hover{
    animation: signIn 3s infinite;
}

@keyframes signIn {
    0%{
        background-color: rgba(0,0,0,0.3)
    }
    50%{
        background-color: rgba(255,255,255,0.3)
    }
    100%{
        background-color: rgba(0,0,0,0.3)
    }
}

.changeTheme{
    position: fixed;
    height: 40px;
    width: 20ch;
    top: calc(100% - 40px);
    font-size: 20px;
}