#createNewEvent h5{
    color: white;
    margin: 0;
    width: auto;
}

.newEventBox{
    width: 500px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
    background-color: rgba(0,0,0,0);
    border: solid rgb(67, 67, 67) 1px;
    border-radius: 10px;
    color: white;
    margin-left: auto;
}

.eventAction{
    font-size:20px;
    color: rgb(67, 67, 67);
    transition: color 0.3s;
}

.eventActionAdd:hover{
    color: rgb(62, 163, 235);
}

.eventActionCancel:hover{
    color: #870c20da
}