.content-area{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
}

.content-area-left{
    position: relative;
    height : 100vh;
    width: 50vw;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    
}

.content-area-right{
    display:flex;
    flex-direction: column;
    position:relative;
    height : 100vh;
    width : 50vw;
    justify-content: space-evenly ;
    align-items: center
}

.noteArea{
    position: absolute;
}

textarea,button,input { 
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    
    resize: none; 
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
button {
    background-color: rgba(0,0,0,0);
}

h5{
    margin: 10px;
}