.infoArea::-webkit-scrollbar{
    width: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

.infoArea::-webkit-scrollbar-thumb{
    background-color:#870c20da;
    border-radius: 4px;
}

#map{
    transition: height 0.3s ease-in-out
}

#expandWeather{
    position: relative;
    align-self:end;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out
}

#expandWeather:hover{
    opacity: 1;
}