body {
    margin: 0;
    /* height: 500px; */
    overflow-x: hidden;
    overflow-y:scroll;
    min-height: calc(100vh - 0px);

}

body::-webkit-scrollbar{
    width: 3px;
    background-color: rgb(23,23,23);
}

body::-webkit-scrollbar-thumb{
    background-color:rgb(224, 96, 49);
}