.content-area{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
}

.content-area-right{
    position: relative;
    height : calc(100vh - 40px);
    width: calc(50vw - 20px);
    background-color: aqua;
    padding-top:20px;
    padding-bottom: 20px;
}

.content-area-left{
    display:flex;
    flex-direction: column;
    align-content: space-evenly;
    position:relative;
}

.noteArea{
    position: absolute;
}
