.content-area{
    display:flex;
    flex-direction: column;
    align-content: space-evenly;
    position:absolute;
    left: 50%;
    transform: translate(-50%)
}

.noteArea{
    position: absolute;
    align-self:flex-end;
}