.content-area{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
}

.content-area-left{
    position: relative;
    height : calc(100vh - 80px);
    width: 50vw;
    background-color: aqua;
    padding:40px
}

.content-area-right{
    display:flex;
    flex-direction: column;
    align-content: space-evenly;
    position:relative;
    height : 100vh;
}

.noteArea{
    position: absolute;
}
